@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	--nav-padding: 15px;
	--icon-padding: 8px;
}

.navbar {
	width: 245px;
	height: 100vh;

	border-right: 1px solid rgba(255, 255, 255, 0.2);
	background-color: black;

	padding: 8px 12px 20px 12px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 80% 10%;

	align-items: start;
	justify-content: center;
	align-content: center;
	justify-items: start;
}

.title-link {
	margin: 30px calc(var(--nav-padding) - var(--icon-padding));

	text-decoration: none;
	color: white;

	font-family: "Lobster", cursive;
	font-size: 1.5rem;
}
