@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	font-family: "Poppins", sans-serif;
	color: white;

	background-color: black;

	--navbar-size: 20%;
	--main-size: 60%;
	--aside-size: 20%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
